@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|VT323&display=swap');

body{
  background-image: url('/background.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}



/* ELEMENTS! */



#heartbar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:80px;
  width:300px;
}

#money{
  background-color:black;
  font-size:20px;
  padding:12px 12px;
  font-size:20px;
  color:white;
  text-align: center;
  width:150px;
  height:70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10%;
}



#tamagotchiImg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:90px;
  width:150px;
  
}



  /* BUTTONS! */

.button_flex{
  display:flex;
  flex:wrap;
}

.button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
}

.button a{
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-weight:bold;
  font-size:36px;
  text-align: center;
  text-decoration:none;
  background-color:black;
  display:block;
  position:relative;
  padding:10px 20px;
  margin:30px;
  
  -webkit-tap-highlight-color: white;
  text-shadow: 0px 1px 0px white;
  filter: dropshadow(color=white, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 white;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 white;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 white;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#E6CCE3;
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 gray;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 gray;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 gray;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}




/* INFO MODAL */
.infobutton{
  background-color:black;
  border:white;
  color:white;
  margin-left:20px;
  margin-top:20px;
  text-align:center;
  text-decoration: none;
  font-size:20px;
  font-family: 'VT323', monospace;
  cursor:pointer;
  border-radius: 20%;
  outline:none;
}

.info_modalcontent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  flex-direction: column;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  z-index: 99;
}
.infomessage {
  font-size:17px;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.infotext{
  font-size:12px;
}

.close{
  float: right;
  font-size: 28px;
  font-weight: bold;
  outline:0;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;}


/* NUMBER PAD  */
.keypad {
  font-family: 'Press Start 2P', cursive;
  width:300px;
  height:60px;
  display: block;
  padding:12px 20px;
  font-size:20px;
  margin: 8px 0;
  box-sizing: border-box;
  border:2px solid black;
  outline: none;
  margin-left:auto;
  margin-right:auto;
}


.grid_container{
  width: 40%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  flex-direction: row;

  
}

.keypadButton {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  margin:10px;
  width: 60px;  
  height: 60px;  
  font-size: 20px;
  line-height: 30px;  
  text-align: center;  
  background: #fff;  
  border: 1px solid black;  
  border-radius: 5px;  
  outline:none;
  
}

.keypadButton:hover {  
  position: relative;  
  top: 1px;  
  left: 1px;  
  border-color: darkgray;  
  cursor: pointer;  
  }  




